

.header {
    font-size: 50px;
    margin: 30px;
    font-weight: bold;
}

.budget-overview-grid {
    display: flex;
    flex-direction: row;
}

.set-budget-section {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    margin: 25px;
    padding: 10px;
}

.set-budget-text {
    font-size: 23px;
    margin: 0px 10px;
}

.budget-input {
    border: none;
    font-size: 23px;
    width: 60%;
}

.remaining-budget {
    font-size: 25px;
    background-color: lightgreen;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    margin: 25px;
    padding: 10px;
}

.spent-budget {
    font-size: 25px;
    background-color: lightblue;
    width: 310px;
    border-radius: 5px;
    text-align: center;
    margin: 25px;
    padding: 10px;
}

.currency-select-wrapper {
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    margin: 25px;
    padding: 10px;
}

.currency-select-text {
    font-size: 25px;
    width: 40%;
    text-align: end;
    margin: 0px;
}

.currency-select {
    border: none;
    font-size: 25px;
    background-color: lightgreen;
    width: 50%;
}
.currency-option{
    background-color: lightgreen;
    color: white;
}
.currency-option:hover{
    background-color: white;
    color: black
}
.allocation-header {
    font-size : 30px;
    margin: 20px;
    font-weight: bold;
}

.allocation {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    border-bottom : 2px solid lightgrey;
    width:1500px;
}

.allocation-name {
    font-size: 24px;
    width: 200px;
    margin: 0px 10px;
}

.allocation-amount {
    font-size: 24px;
    margin: 0px 140px;
    width: 100px;
}
.allocation-grid{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    border-bottom : 2px solid lightgrey;
    width: 1500px;
}
.allocation-grid-header{
    font-size: 24px;
    width: 200px;
    margin: 0px 50px;
    font-weight: bold;
}
.increment-btn {
    padding: 5px;
    background-color: greenyellow;
    border-radius: 50%;
    font-size: 40px;
    aspect-ratio: 1/1;
    color: white;
    margin: 0px 100px;
}

.decrement-btn {
    font-size: 40px;
    padding: 5px;
    background-color: red;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0px 200px;
    color: white;
}

.cancel-btn {
    font-size: 10px;
    padding: 5px;
    aspect-ratio: 1/1;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    margin: 10px 20px;
    color: white;
   
}

.change-allocation-header {
    font-size: 35px;
    margin: 20px;
    font-weight: bold;
}

.change-allocation-section {
    display: flex;
    flex-direction: row;
   
}

.change-allocation-label {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
}

.change-allocation-select {
    height: inherit;
    margin-right: 60px;
    font-size: 25px;
    padding: 4px 6px;
}
.currency-label{
    font-size: 25px;
    margin: 0px 0px;
}
.spent-input {
    font-size: 25px;
    width: 200px;;
}

.save-btn {
    background-color: rgb(10, 163, 163);
    color: white;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 5px;
}
